version: "3.9"

services:

  postgres-main:
    image: postgres:15-alpine
    container_name: postgres-main
    restart: unless-stopped
    environment:
      POSTGRES_DB: employee_management
      POSTGRES_USER: dexa
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_main_data:/var/lib/postgresql/data
      - ./packages/database/setup/init:/docker-entrypoint-initdb.d
    networks:
      - microservice-network

  postgres-logs:
    image: postgres:15-alpine
    container_name: postgres-logs
    restart: unless-stopped
    environment:
      POSTGRES_DB: employee_logs
      POSTGRES_USER: dexa
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    volumes:
      - postgres_logs_data:/var/lib/postgresql/data
    networks:
      - microservice-network

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: password
      RABBITMQ_DEFAULT_VHOST: /
    ports:
      - "5672:5672"  
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - microservice-network

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    networks:
      - microservice-network

volumes:
  postgres_main_data:
    driver: local
  postgres_logs_data:
    driver: local
  rabbitmq_data:
    driver: local
  minio-data:
    driver: local

networks:
  microservice-network:
    driver: bridge
